{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% comment %} CSS {% endcomment %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link href="{% static 'app/css/style.css' %}" rel="stylesheet">
<link href="{% static 'app/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'app/css/owl.carousel.min.css' %}" rel="stylesheet">

 {% comment %} js {% endcomment %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

<script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'app/js/all.min.js' %}"></script>
<script src="{% static 'app/js/myscript.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> <!-- cho owl carousel nếu cần -->
<script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'app/js/all.min.js' %}"></script>
<script src="{% static 'app/js/myscript.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script> <!-- cuối cùng -->

<style>
  body {
      background: #cae2fbff; 
      {% comment %} f7f7f7 {% endcomment %}
  }

  .container-fluid {
      max-width: 1200px;
      margin: 0 auto;
  }

      .carousel {
        margin-top: 20px; /* chỉnh khoảng cách tùy ý */
    }

</style>





        <title>Web nhóm 01</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body> 

{% comment %} thanh menu {% endcomment %}

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'app/images/Neel.png' %}" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">
    </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sản phẩm
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Sản phẩm 1</a></li>
            <li><a class="dropdown-item" href="#">Sản phẩm 2</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sản phẩm 3</a></li>
          </ul>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/news">Giới thiệu</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="#">Liên hệ</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
user        </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
            <li><a class="dropdown-item" href="#">Đơn hàng</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Thoát</a></li>
          </ul>
        </li>

                        <li class="nav-item">
          <a class="nav-link" href="#">Đăng nhập</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="#">Đăng ký
          </a>
        </li>

  </div>
</nav>

{% comment %} main-content {% endcomment %}
<style>
  .main-wrapper {
      padding-bottom: 120px;  /* chừa chỗ tránh footer che */
      max-width: 1200px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
  }
</style>
<div class="main-wrapper">

  {% block banner_slider %}{% endblock banner_slider %}


{% block main_container%} 

{% endblock main_container %}

</div>

{% comment %} Phần chân trang {% endcomment %}

{% comment %} <footer class="text-center p-4 bg-light fiexed-bottom p-2 mt-5">  
  Copyright © 2025 Web nhóm 01. 
</footer> {% endcomment %}

{% comment %} <footer class="text-center p-4 bg-light fixed-bottom">
  Copyright © 2025 Web nhóm 01.
</footer>

<footer class="text-center p-4 bg-dark text-white fixed-bottom">
  Copyright © 2025 Web nhóm 01.
</footer> {% endcomment %}

<footer class="text-center p-4 bg-primary text-white fixed-bottom">
  Copyright © 2025 Web nhóm 01.
</footer>



{% comment %} Chân trang {% endcomment %}


        
        <script src="" async defer></script>
    </body>
</html>